
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@600;700&family=Josefin+Sans:wght@700&family=Shadows+Into+Light&display=swap');


body{
    background-image: url("./imagenes/paisaje.jpg");
    background-repeat: no-repeat;
    background-size: 176%;
    background-position: center center; 
    font-family: 'Edu NSW ACT Foundation', cursive;
    background-color: #66347F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

#seleccionar-personaje:{
    
        display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.titulo {
    text-align: center; 
    color:rgb(19, 1, 1);
    font-size: 60px;
    font-family: 'Shadows Into Light', cursive;
   
}

.subtitulo{
    color:rgb(14, 1, 1);
    text-align: center; 

}
.targetas{
    display: flex;
    gap: 10px;
}

.tarjeta-de-Nesaco{
    
    width: 253px;
    height: 156px;
    background: none;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    color: #000000;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
    



.tarjeta-de-Nesaco img {
    width: 90px;

}

#boton-personaje{
    width: 173px;
    height: 46px;
    border-radius: 20px;
    background: none;
    border: 1px solid;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

input{
    display: none;
}

#seleccionar-ataque{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boton-de-ataque {
    background-color: transparent;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    font-family: 'Shadows Into Light', cursive;
}