
@import
url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body{
    font-family: 'Shadows Into Light', cursive;
    background-color: #66347F;

}
#seleccionar-personaje{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color:white;
    font-size: 60px;
   
}

.subtitulo{
    color:white;
    

}
.targetas{
    display: flex;
    gap: 10px;
}

.tarjeta-de-Nesaco{
    width: 249px;
    height: 100px;
    background: #8c7ce3fa;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    color: #000000;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.tarjeta-de-Nesaco img {
    width: 90px;
}

input{
    display: none;
}